{% extends 'header.html' %}

{% block title %} Home {% endblock title %}

{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: lightyellow ">

    <div class="container">
        <h2>USER LIST</h2>
        <table name="userlisttable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Company</th>
                </tr>
            </thead>
            <tbody>
                {%for result in userlist%}
                <tr>
                    <td scope="row">{{result.username}} </td>
                    <td>{{result.email}}</td>
                    <td>{{result.firstname}}</td>
                    <td>{{result.lastname }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>
{% endblock body %}