<html>
    <title> User Profile </title>
    <body> 
                <div class="container">
                <div class="jumbotron">
                    <h3 style="text-align: left;"><b>User Name:  </b>{{ user.username }}</h3> <br>
                    <h3 style="text-align: left;"><b>User Email ID: </b>{{ user.email }} </h3> <br>
                    <h3 style="text-align: left;"><b>User Firstname:  </b>{{ user.firstname }} </h3> <br>
                    <h3 style="text-align: left;"><b>User Lastname: </b>{{ user.lastname }}</h3> <br>
                    <h3 style="text-align: left;"><b>User Company: </b>{{ user.company }}</h3> <br>
                </div>
            </div>
    </body>
</html>
